@import '../../style/color.scss';
@import '../../style/common.scss';

#toast {
  #overlay {
    @include overlay;
    will-change: opacity;
    animation: fadeIn ease 0.4s, fadeOut linear 0.4s 5s forwards;
  }

  .toast-message-container {
    background-color: $white;
    width: 50vw;
    min-width: 584px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    z-index: 2;
    position: fixed;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    animation: flyIn ease 0.4s, flyOut ease-in 0.4s 5s forwards;
    will-change: top;

    .message {
      font-size: 19px;
      margin: 22px 28px;
      text-align: center;
    }

    .progress-bar {
      left: 0;
      bottom: 0;
      height: 4px;
      width: 100%;
      background-color: $lightpink;
      animation: shrink linear 4s 1s forwards;
      will-change: width;

      &.admin-mode {
        background-color: $hotpink;
      }
    }
  }

  &.disabled {
    .progress-bar {
      animation: none;
      width: 0;
    }

    .toast-message-container {
      top: -300px;
      transition: 0.4s;
    }

    #overlay {
      opacity: 0;
      transition: 0.4s;
    }
  }

  @keyframes shrink {
    to {
      width: 0%;
    }
  }

  @keyframes flyIn {
    from {
      top: -300px;
    }
    to {
      top: 3vh;
    }
  }

  @keyframes flyOut {
    to {
      top: -300px;
    }
  }
}