@import "../../../shared/style/color.scss";

.statistics {
  display: flex;
  height: 100%;

  .chart-zone {
    // flex: 0 0 74%;
    // max-width: 74%;
    height: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 22px;

    .monthly-sales,
    .monthly-category-sales {
      position: relative;
      background: $white;
      width: 100%;
      padding: 16px 24px;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .chart-name {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      bottom: 10px;
      font-size: 19px;
      font-weight: 600;
      width: 100%;
      color: lighten($lightslategray, 15);

      select {
        border: 1.5px solid lighten($lightslategray, 15);
        border-radius: 4px;
        font-size: 17px;
        font-weight: 600;
        margin-left: 7px;
        padding-top: 2px;
        width: 122px;
      }
    }
  }

  .overview {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 22px;
    margin-left: 22px;
    height: 100%;
    width: 300px;

    .category-overview {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 24px 18px;
      border-radius: 8px;
      text-align: center;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      .chart-annotations {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 16px 14px 0;

        .annotations-wrapper {
          display: flex;
          align-items: center;
          // margin-right: 14px;

          .color-sign {
            width: 8px;
            height: 8px;
            border-radius: 50%;
          }

          .color-annotation {
            font-size: 13px;
            margin-left: 3px;
          }
        }
      }

      .chart-name {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        font-weight: 600;
        color: lighten($lightslategray, 15);
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;

        select {
          border: 1.5px solid lighten($lightslategray, 15);
          border-radius: 4px;
          font-size: 17px;
          font-weight: 600;
          margin-left: 7px;
          padding-top: 2px;
          width: 45px;
        }
      }
    }
  }
}
