@import "../../style/color.scss";
@import "../../style/common.scss";

.error-message {
  position: fixed;
  z-index: 2;

  #overlay {
    @include overlay;
  }

  .container {
    @include popup(8px);
    background: $lightpink;
    width: 274px;
    overflow: hidden;

    &.admin-mode {
      border-radius: 18px;
      background: lighten($hotpink, 3);
    }

    .message {
      text-align: center;
      font-size: 17px;
      padding: 20px 26px;
      background: $white;
    }

    .ok-btn {
      cursor: pointer;
      text-align: center;
      line-height: 40px;
      font-weight: 800;
      font-size: 18px;
      color: $white;
    }
  }
}
