@import '../../../shared/style/color.scss';

.banner {
  .container {
    // width: 100%;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin: 18px auto;
  }

  .slider-container {
  }

  .slider {
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 38%;
  }
}